*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

body {
    box-sizing: border-box;
}

.main-container {
    position: relative;
    background-color: hsl(270, 20%, 96%);
    height: 100vh;
    width: 100%;
}


.decor-spot {
    position: absolute;
    height: 124%;
    width: 35%;
    border-radius: 0 0 30rem 30rem;
    background-image: linear-gradient(to bottom, hsl(293, 100%, 63%) 20%, hsl(264, 100%, 61%));
    top: -35%;
    left: -8%;
}

.phone__screen {

    position: absolute;
    top: 16%;
    left: 23%;
    height: 65%;
    width: 15%;
    border-radius: 1.4rem;
    border: .5rem solid white;
    overflow: hidden;
    box-shadow: .9rem .7rem 1.5rem rgba(0,0,0,.10);
    background-color: hsl(270, 20%, 96%);
    overflow: hidden;
    font-size: .4rem;
    color: hsl(276, 55%, 52%);
}

.phone__screen-cutting {
    height: 7%;
    border-radius: 2.5rem;
    width: 55%;
    background-color: white;
    position: absolute;
    top: -2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.phone__chat-header {
    height: 12%;
    width: 100%;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 0 0 .5rem .5rem;
}

.phone__chat-message {
    padding: 4%;
    width: 60%;
}

.phone__chat-message--left {
    background-color: hsl(270, 20%, 86%);
    margin: 4% 0 0 4%;
    border-radius: .6rem .6rem .6rem .2rem;
}

.phone__chat-message--right {
    background-color: white;
    margin: 4% 4% 0 auto;
    border-radius: .6rem .6rem .2rem .6rem;
}

.phone__chat-img-grp-right {
    margin: 4% 4% 0 auto;
}

.phone__chat-img-grp-right::after {
    content: "";
    display: table;
    clear: both;
}

.phone__chat-offer--left {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: .6rem .6rem .6rem .2rem;
    margin: 4% 0 0 4%;
    color: white;
    font-size: .5rem;
}

.phone__chat-image {
    width: 18%;
    margin-left: 3%;
    border-radius: .6rem;
    float: right;
}

.phone__chat-offer {
    padding: 4%;
    width: fit-content;
}

.phone__chat-offer__description {
    font-weight: 300;
    font-size: .4rem;
    margin-left: .3rem;
    display: inline-block;
}

.phone__chat-offer__price {
    display: inline-block;
    font-weight: 700;
    font-size: .8rem;
    text-transform: uppercase;
    margin: 0 .5rem 0 1.5rem;
}

.phone__chat-offer > * {
    vertical-align: middle;
}

.phone-chat-input {
    position: relative;
}

.phone-chat-input-text {
    font-size: .5rem;
    border-radius: 1rem;
    border: none;
    margin: 4% 4% 0 4%;
    width: 92%;
    padding: 5%;
    color: grey;
}

.phone__submit-button {
    position: absolute;
    top: 0;
    right: 0;
    clip-path: circle(50% at center center);
    width: 20%;
    /* height: 100%; */
    background-color: black;
}